body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

header, main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  min-height: 100vh;
}

main {
  background-color: #f8f8f8;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-left: calc((100vw/12) * 3);
  width: calc((100vw/12) * 9);
}

article {
  padding: 4rem 4rem 8rem 4rem;
}

article h1,
article h2,
article h3,
article h4 {
  margin-top: 4rem;
}

article.feature, article.quote {
  background-color: #1e1e1e;
}

article.feature h1,
article.feature h2,
article.feature h3,
article.feature h4,
article.feature h5,
article.feature p,
article.feature blockquote, article.feature mark, article.quote h1,
article.quote h2,
article.quote h3,
article.quote h4,
article.quote h5,
article.quote p,
article.quote blockquote, article.quote mark {
  color: #ffffff;
}

article.feature {
  text-align: center;
}

article.feature .line-header {
  width: 20%;
  height: 4px;
  background-color: #6588e6;
  border: none;
  margin: 0 auto 2rem auto;
}

article.quote {
  padding: 4rem;
}

article.regular.regular-1 {
  background-color: #ffffff;
}

article.regular.regular-2 {
  background-color: #eeeeee;
}

article.tools {
  padding: 2rem;
}

article.tools .article-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article.tools .article-inner img {
  height: 40px;
}

article.image {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

article.image img {
  display: block;
}

article.image.full img {
  max-width: 100%;
}

article.image.half img {
  max-width: 50%;
}

article .article-inner {
  margin: 0 auto;
  max-width: 900px;
}

article .article-inner.narrow,
article .article-inner .narrow {
  max-width: 600px;
  margin: 0 auto;
}

article .article-inner h1,
article .article-inner h2 {
  text-transform: uppercase;
}

article .article-inner blockquote {
  border-left: 4px solid #6588e6;
  font-size: calc(1rem * 1.15);
  font-weight: 400;
  font-style: italic;
  margin: 0;
  padding: 0.5rem 2rem;
}

article .article-inner .layout-insight {
  background-color: white;
  padding: 2rem;
  margin-top: 2rem;
  border-left: 4px solid #6588e6;
}

article .article-inner .layout-insight h4 {
  margin: 1rem 0 0.5rem 0;
}

article .article-inner .layout-insight p {
  font-size: 80%;
}

header {
  background-color: #ffffff;
  position: fixed;
  width: calc((100vw/12) * 3);
  max-width: calc((100vw/12) * 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  border-right: 1px solid #ebebeb;
  font-size: calc(1rem / 1.15);
}

header div.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .top, header .bottom {
  padding: 0 calc(0.5rem + 4rem);
}

header .top p,
header .bottom p,
header #nav p {
  margin: 0;
  color: #767676;
}

header .top #logo,
header .bottom #logo,
header #nav #logo {
  font-size: calc(calc(calc(1rem * 1.15) * 1.15 * 1.15) * 1.15 * 1.15 * 1.15);
  font-family: "Montserrat", serif;
  font-weight: 800;
  color: #252B33;
  text-decoration: none;
  letter-spacing: 4px;
}

header #nav {
  padding: 2rem 4rem;
  text-align: left;
  font-family: "Montserrat", serif;
  font-weight: 100;
  margin: 0;
}

header #nav a {
  color: #767676;
  text-decoration: none;
  margin: 0.25rem 0;
  position: relative;
  float: left;
  clear: both;
  font-weight: 400;
  padding: 0 4px;
}

header #nav a.active {
  font-weight: 600;
  color: #252B33;
  background-color: rgba(101, 136, 230, 0.5);
}

header #nav a.menu-sub {
  margin-left: 1rem;
}

h1 {
  font-size: calc(calc(calc(calc(1rem * 1.15) * 1.15 * 1.15) * 1.15 * 1.15 * 1.15) * 1.15 * 1.15 * 1.15);
  font-family: "Montserrat", serif;
  color: #252B33;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  margin: 2rem 0;
}

h2 {
  font-size: calc(calc(calc(1rem * 1.15) * 1.15 * 1.15) * 1.15 * 1.15 * 1.15);
  font-family: "Montserrat", serif;
  color: #252B33;
}

h3 {
  font-size: calc(calc(1rem * 1.15) * 1.15 * 1.15);
  font-family: "Montserrat", serif;
  color: #252B33;
  margin: 4rem 0 1rem 0;
}

h4 {
  font-size: calc(1rem * 1.15);
  font-family: "Montserrat", serif;
  color: #252B33;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: calc(1rem * 1.15);
  font-family: "Montserrat", serif;
  font-weight: 700;
  color: red;
  margin: 4rem 0 0.5rem;
}

body {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #252B33;
}

body p {
  margin: 1rem 0;
}

mark {
  background-color: rgba(101, 136, 230, 0.5);
  padding: 0 2px;
}

overline {
  font-size: calc(calc(1rem / 1.15) / 1.15);
  text-transform: uppercase;
  font-family: "Montserrat", serif;
  font-weight: 600;
  color: #767676;
}

html {
  font-size: 120%;
  line-height: 1.5;
}
