h1 {
  font-size: calc(calc(calc(calc(1rem * 1.15) * 1.15 * 1.15) * 1.15 * 1.15 * 1.15) * 1.15 * 1.15 * 1.15);
  font-family: "Montserrat", serif;
  color: #252b33;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  margin: 2rem 0;
}

h2 {
  font-size: calc(calc(calc(1rem * 1.15) * 1.15 * 1.15) * 1.15 * 1.15 * 1.15);
  font-family: "Montserrat", serif;
  color: #252b33;
}

h3 {
  font-size: calc(calc(1rem * 1.15) * 1.15 * 1.15);
  font-family: "Montserrat", serif;
  color: #252b33;
  margin: 4rem 0 1rem 0;
}

h4 {
  font-size: calc(1rem * 1.15);
  font-family: "Montserrat", serif;
  color: #252b33;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: calc(1rem * 1.15);
  font-family: "Montserrat", serif;
  font-weight: 700;
  color: red;
  margin: 4rem 0 0.5rem;
}

body {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #252b33;
}

body p {
  margin: 1rem 0;
}

mark {
  background-color: rgba(101, 136, 230, 0.5);
  padding: 0 2px;
}

p.small {
  font-size: 80%;
}

overline {
  font-size: calc(calc(1rem / 1.15) / 1.15);
  text-transform: uppercase;
  font-family: "Montserrat", serif;
  font-weight: 600;
  color: #767676;
}

.strikethrough {
  text-decoration: line-through;
}

a {
  color: #6588e6;
}

figcaption {
  font-size: calc(calc(1rem / 1.15) / 1.15);
  font-family: "Montserrat", serif;
  font-weight: 400;
  color: #767676;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

@media screen and (min-width: 1021px) {
  header, main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    min-height: 100vh;
  }
  main {
    background-color: #f8f8f8;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin-left: calc((100vw / 12) * 3);
    width: calc((100vw / 12) * 9);
  }
}

.login-page {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("/images/hero.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/hero.jpg");
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-page form .login-invalid {
  color: white;
  font-size: calc(calc(1rem / 1.15) / 1.15);
  font-weight: 400;
  margin: 0.25rem 0;
  min-height: 24px;
}

.login-page form .login-invalid.show span {
  display: block;
}

.login-page form .login-invalid span {
  display: none;
}

.login-page form .input-wrap {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 6px 6px 12px;
  border: 2px solid white;
}

.login-page form .input-wrap input,
.login-page form .input-wrap button {
  font-family: "Open Sans", sans-serif;
  font-size: calc(calc(1rem / 1.15) / 1.15);
  height: 40px;
}

.login-page form .input-wrap input {
  font-weight: 800;
  background-color: transparent;
  border: none;
  width: 200px;
  color: white;
}

.login-page form .input-wrap input::-webkit-input-placeholder {
  font-style: italic;
  color: white;
  font-weight: 800;
  letter-spacing: 1px;
}

.login-page form .input-wrap input:-ms-input-placeholder {
  font-style: italic;
  color: white;
  font-weight: 800;
  letter-spacing: 1px;
}

.login-page form .input-wrap input::-ms-input-placeholder {
  font-style: italic;
  color: white;
  font-weight: 800;
  letter-spacing: 1px;
}

.login-page form .input-wrap input::placeholder {
  font-style: italic;
  color: white;
  font-weight: 800;
  letter-spacing: 1px;
}

.login-page form .input-wrap input:focus, .login-page form .input-wrap input:active {
  outline: none;
}

.login-page form .input-wrap button {
  width: 40px;
  background-color: white;
  color: black;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 2rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.grid .case-study {
  background-color: white;
  -webkit-box-shadow: 0 0 20px #dfdfdf;
          box-shadow: 0 0 20px #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 3px;
}

.grid .case-study img {
  width: 100%;
  background-color: #1e1e1e;
  height: 250px;
  border-radius: 3px 3px 0 0;
}

.grid .case-study .chip {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: calc(calc(1rem / 1.15) / 1.15);
  padding: 0.35rem 0.75rem;
  font-weight: 700;
  border-radius: 3px;
  color: #252b33;
  background: #ebebeb;
}

.grid .case-study .wrap {
  padding: 2rem;
}

.grid .case-study .wrap h4 {
  margin: 0.5rem 0;
}

.grid .case-study .wrap p {
  margin: 0.5rem 0 2rem 0;
}

.grid .case-study .wrap a {
  text-transform: uppercase;
  text-decoration: none;
}

.btn-animation {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.btn-animation:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn-animation:hover:before,
.btn-animation:focus:before,
.btn-animation:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.btn {
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: calc(calc(1rem / 1.15) / 1.15);
  padding: 0.75rem 1.5rem;
  font-weight: 800;
  overflow: hidden;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:focus {
  outline: 0;
}

.btn-alt {
  color: #000;
  background: transparent;
  border: solid 2px #000;
}

.btn-alt:hover, .btn-alt:focus {
  color: #fff;
  border-color: #000;
}

.btn-alt:before {
  background: #000;
}

.btn.disabled,
.btn:disabled {
  opacity: 1;
  cursor: not-allowed;
}

@media screen and (max-width: 1020px) {
  article {
    padding: 1rem 1rem 2rem 1rem;
  }
  article .mouse {
    display: none;
  }
  article .data-images {
    padding-top: 2rem;
  }
  article .data-images .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article .data-images .row div {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  article .data-images .row div img {
    height: 30px;
    padding: 0.5rem 0;
    width: auto;
  }
}

@media screen and (min-width: 1021px) {
  article {
    padding: 4rem 4rem 8rem 4rem;
  }
  article .mouse {
    display: block;
  }
  article .data-images {
    padding-top: 2rem;
  }
  article .data-images .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  article .data-images .row div {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  article .data-images .row div img {
    height: 40px;
    padding: 1rem 0;
    width: auto;
  }
}

article h1,
article h2,
article h3,
article h4 {
  margin-top: 4rem;
}

article.home {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("/images/hero.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/hero.jpg");
}

article.cs1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/images/cs1.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/cs1.jpg");
}

article.cs2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/images/cs2.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/cs2.jpg");
}

article.cs3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("/images/cs3.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/cs3.jpg");
}

article.home, article.feature, article.cs1, article.cs2, article.cs3 {
  background-size: cover;
}

article.home .mouse, article.feature .mouse, article.cs1 .mouse, article.cs2 .mouse, article.cs3 .mouse {
  border: solid 3px white;
  border-radius: 16px;
  margin: 0 auto;
  height: 34px;
  position: relative;
  width: 22px;
}

article.home .mouse .wheel, article.feature .mouse .wheel, article.cs1 .mouse .wheel, article.cs2 .mouse .wheel, article.cs3 .mouse .wheel {
  background: white;
  border-radius: 100%;
  display: block;
  position: absolute;
  top: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 5px;
  width: 5px;
  -webkit-animation: ani-mouse 2s linear infinite;
  animation: ani-mouse 2s linear infinite;
}

article.home {
  min-height: calc(100vh - 4rem - 8rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

article.home h1,
article.home h2 {
  text-transform: capitalize !important;
}

article.home h1 {
  margin-bottom: 1rem !important;
}

article.home h2 {
  margin-top: 1rem !important;
}

article.feature, article.quote {
  background-color: #1e1e1e;
}

article.feature h1,
article.feature h2,
article.feature h3,
article.feature h4,
article.feature h5,
article.feature p,
article.feature blockquote,
article.feature mark, article.quote h1,
article.quote h2,
article.quote h3,
article.quote h4,
article.quote h5,
article.quote p,
article.quote blockquote,
article.quote mark {
  color: #ffffff;
}

article.feature {
  text-align: center;
}

article.feature .line-header {
  width: 20%;
  height: 4px;
  background-color: #6588e6;
  border: none;
  margin: 0 auto 2rem auto;
}

article.quote {
  padding: 4rem;
}

article.regular.regular-1 {
  background-color: #ffffff;
}

article.regular.regular-2 {
  background-color: #eeeeee;
}

article.regular img {
  width: 100%;
  border-radius: 3px;
}

article.tools {
  padding: 2rem;
}

article.tools .article-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article.tools .article-inner img {
  height: 40px;
}

article.image {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

article.image img {
  display: block;
}

article.image.full img {
  max-width: 100%;
}

article.image.half img {
  max-width: 50%;
}

article .article-inner {
  margin: 0 auto;
  max-width: 900px;
}

article .article-inner.narrow,
article .article-inner .narrow {
  max-width: 600px;
  margin: 0 auto;
}

article .article-inner h1,
article .article-inner h2 {
  text-transform: uppercase;
}

article .article-inner .layout-insight {
  background-color: white;
  padding: 2rem;
  margin-top: 1rem;
  border-left: 4px solid #6588e6;
  -webkit-box-shadow: 0 0 20px #dfdfdf;
          box-shadow: 0 0 20px #dfdfdf;
  border-radius: 3px;
}

article .article-inner .layout-insight h4 {
  margin: 1rem 0 0.5rem 0;
}

article .article-inner .layout-insight p, article .article-inner .layout-insight ul {
  font-size: 80%;
}

article #container {
  height: 500px;
}

article .anychart-credits {
  display: none;
}

@-webkit-keyframes ani-mouse {
  0% {
    top: 29%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 29%;
  }
}

@keyframes ani-mouse {
  0% {
    top: 29%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 29%;
  }
}

.graphs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.graphs .chart1 {
  width: 48%;
}

.graphs .chart2 {
  width: 52%;
}

blockquote {
  border-left: 4px solid #6588e6;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  margin: 0;
  padding: 0.5rem 2rem;
}

.quote-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
}

.quote-wrap .quote-person {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  -o-object-fit: cover;
     object-fit: cover;
}

.quote-wrap blockquote {
  margin-left: 1rem;
  background-color: #ffffff;
  border-radius: 3px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  font-size: calc(calc(1rem / 1.15) / 1.15);
}

.quote-wrap blockquote:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-right-color: #6588e6;
  border-left: 0;
  margin-top: -12px;
  margin-left: -12px;
}

.phone {
  width: 50%;
  max-width: 50%;
}

figure {
  margin: 0;
}

img {
  image-rendering: auto;
}

header {
  background-color: #ffffff;
}

header .top #logo {
  font-size: calc(calc(calc(1rem * 1.15) * 1.15 * 1.15) * 1.15 * 1.15 * 1.15);
  font-family: "Montserrat", serif;
  font-weight: 800;
  color: #252b33;
  text-decoration: none;
}

header #nav {
  background-color: #ffffff;
  text-align: left;
  font-family: "Montserrat", serif;
  font-weight: 100;
  margin: 0;
  z-index: 2;
}

header #nav a {
  font-weight: 400;
  letter-spacing: 1px;
  color: #767676;
  text-decoration: none;
  margin-bottom: 0.5rem;
  position: relative;
  float: left;
  clear: both;
  border-radius: 3px;
  padding: calc(0.5rem / 2) 0.5rem;
}

header #nav a.active {
  background-color: #eeeeee;
  font-weight: 600;
  color: #252b33;
}

header #nav a.menu-sub {
  margin-left: 1rem;
}

@media screen and (max-width: 1020px) {
  #header {
    width: 100%;
    height: 4rem;
  }
  header {
    height: 4rem;
    border-bottom: 1px solid #ebebeb;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
    position: fixed;
    left: 0;
    right: 0;
  }
  header .bottom {
    display: none;
  }
  #mobile-menu-toggle {
    display: block;
    z-index: 1;
  }
  #nav {
    position: fixed;
    z-index: 2;
    right: 0;
    top: 4rem;
    padding: 1rem 2rem;
    bottom: 0;
    max-width: 400px;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  #nav.open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (min-width: 1021px) {
  header {
    position: fixed;
    width: calc((100vw / 12) * 3);
    max-width: calc((100vw / 12) * 3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    border-right: 1px solid #ebebeb;
    font-size: calc(1rem / 1.15);
  }
  header #nav {
    padding: 2rem 4rem;
  }
  header #mobile-menu-toggle {
    display: none;
  }
  header div.bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  header .top,
  header .bottom {
    padding: 0 4rem;
  }
  header .top p,
  header .bottom p,
  header #nav p {
    margin: 0;
    color: #767676;
  }
}

#mobile-menu-toggle {
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#mobile-menu-toggle span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #252b33;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* Icon 3 */
#mobile-menu-toggle span:nth-child(1) {
  top: 4px;
}

#mobile-menu-toggle span:nth-child(2),
#mobile-menu-toggle span:nth-child(3) {
  top: 14px;
}

#mobile-menu-toggle span:nth-child(4) {
  top: 24px;
}

#mobile-menu-toggle.open span:nth-child(1) {
  top: 14px;
  width: 0%;
  left: 50%;
}

#mobile-menu-toggle.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#mobile-menu-toggle.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#mobile-menu-toggle.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

footer {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("/images/hero.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/hero.jpg");
  background-size: cover;
}

footer p {
  color: white;
  margin: 0;
  font-size: calc(calc(1rem / 1.15) / 1.15);
}

.timeline .timeline-section,
.timeline li,
.process .timeline-section,
.process li {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 20px #dfdfdf;
          box-shadow: 0 0 20px #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem 1rem;
  border-radius: 3px;
  margin-bottom: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline .timeline-section h4,
.timeline .timeline-section p,
.timeline li h4,
.timeline li p,
.process .timeline-section h4,
.process .timeline-section p,
.process li h4,
.process li p {
  margin: 0;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-family: "Open Sans", sans-serif;
  padding: 0 0 0 1rem;
}

.timeline .timeline-section .chip,
.timeline .timeline-section .count,
.timeline li .chip,
.timeline li .count,
.process .timeline-section .chip,
.process .timeline-section .count,
.process li .chip,
.process li .count {
  font-family: "Open Sans", sans-serif;
  font-size: calc(calc(1rem / 1.15) / 1.15);
  padding: 0.35rem 0.75rem;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #252b33;
  background: #ebebeb;
  border-radius: 3px;
}

.timeline .timeline-section h4,
.timeline li h4,
.process .timeline-section h4,
.process li h4 {
  color: #252b33;
  font-weight: 700;
  font-size: calc(1rem / 1.15);
}

.timeline .timeline-section p,
.timeline li p,
.process .timeline-section p,
.process li p {
  text-align: right;
  color: #767676;
  font-size: calc(1rem / 1.15);
}

.process {
  padding: 0;
}

.process li .count {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.process li div h4 {
  margin: 0.2rem 0 0.5rem 0;
}

.process li div p {
  text-align: left;
  font-size: 80%;
  color: #252b33;
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#preloader:before, #preloader:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  background-color: #000;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

#preloader:after {
  left: auto;
  right: 0;
}

#preloader .loader_line {
  margin: auto;
  width: 1px;
  height: 250px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.loader_line:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 0%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #fff;
  -webkit-animation: lineheight 1000ms ease-in-out 0s forwards;
  animation: lineheight 1000ms ease-in-out 0s forwards;
}

.loader_line:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #999;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-animation: lineround 1200ms linear 0s infinite;
  animation: lineround 1200ms linear 0s infinite;
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

@-webkit-keyframes lineheight {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes lineheight {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@-webkit-keyframes lineround {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
  }
}

@keyframes lineround {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
  }
}

.preloaded .loader_line:after {
  opacity: 0;
}

.preloaded .loader_line {
  opacity: 0;
  height: 100% !important;
}

.preloaded:before, .preloaded:after {
  -webkit-animation: preloadedzero 300ms ease-in-out 500ms forwards;
  animation: preloadedzero 300ms ease-in-out 500ms forwards;
}

@-webkit-keyframes preloadedzero {
  0% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
}

@keyframes preloadedzero {
  0% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
}

html {
  font-size: 120%;
  line-height: 1.5;
}
