// ipad and lower
@media screen and (max-width: 1020px) {
    article {
        padding: $spacing-s $spacing-m $spacing-m $spacing-m;

        .mouse {
            display: none;
        }

        .data-images {
            padding-top: $spacing-m;

            .row {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;

                div {
                    flex: 50%;
                    img {
                        height: 30px;
                        padding: $spacing-xs 0;
                        width: auto;
                    }
                }
            }
        }

        .article-inner {
            margin: 0 auto;
            max-width: 100%;

            &.narrow,
            .narrow {
                max-width: 100%;
                flex-wrap: wrap;
                row-gap: $spacing-m;
    
                margin: 0 auto;
            }

            &.logos-only {
                img {
                    width: auto;
                }
            }
        }
    }
}

// higher than ipad
@media screen and (min-width: 1021px) {
    article {
        padding: $spacing-l $spacing-l $spacing-xl $spacing-l;

        .mouse {
            display: block;
        }

        .data-images {
            padding-top: $spacing-m;

            .row {
                display: flex;
                flex-wrap: wrap;

                div {
                    flex: 50%;
                    img {
                        height: 40px;
                        padding: $spacing-s 0;
                        width: auto;
                    }
                }
            }
        }
    }
}

article {
    h1,
    h2,
    h3,
    h4 {
        margin-top: $spacing-l;
    }

    &.home {
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/hero.jpg");
    }

    &.cs1 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/cs1.jpg");
    }
    &.cs2 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/cs2.jpg");
    }
    &.cs3 {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/cs3.jpg");
    }

    &.home,
    &.feature,
    &.cs1,
    &.cs2,
    &.cs3 {
        background-size: cover;

        .mouse {
            border: solid 3px white;
            border-radius: 16px;

            margin: 0 auto;
            height: 34px;
            position: relative;
            width: 22px;

            .wheel {
                background: white;
                border-radius: 100%;
                display: block;
                position: absolute;
                top: 8px;
                left: 50%;
                transform: translateX(-50%);
                height: 5px;
                width: 5px;
                -webkit-animation: ani-mouse 2s linear infinite;
                -moz-animation: ani-mouse 2s linear infinite;
                animation: ani-mouse 2s linear infinite;
            }
        }
    }

    &.home {
        @media screen and (min-width: 1021px) {
            min-height: calc(100vh - #{$spacing-l} - #{$spacing-xl});
        }

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1,
        h2 {
            text-transform: capitalize !important;
        }

        h1 {
            margin-bottom: $spacing-s !important;
        }

        h2 {
            margin-top: $spacing-s !important;
        }
    }

    &.feature,
    &.quote {
        background-color: $bkg-article-feature;

        h1,
        h2,
        h3,
        h4,
        h5,
        p,
        blockquote,
        mark {
            color: #ffffff;
        }
    }

    &.feature {
        text-align: center;
        .line-header {
            width: 20%;
            height: 4px;
            background-color: $color-accent;
            border: none;
            margin: 0 auto $spacing-m auto;
        }
    }

    &.quote {
        padding: $spacing-l;
    }

    &.regular {
        &.regular-1 {
            background-color: $bkg-article-regular-1;
        }
        &.regular-2 {
            background-color: $bkg-article-regular-2;
        }

        img {
            width: 100%;
            border-radius: $border-radius-image;

            &.inset {
                width: calc(100% + #{$spacing-s} + #{$spacing-s});
                margin: 0 -$spacing-s 0 -$spacing-s;
            }
        }
    }

    &.tools {
        padding: $spacing-m;

        .article-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                height: 40px;
            }
        }
    }

    &.image {
        background-color: $bkg-article-regular-1;
        padding: 0;
        margin: 0;

        img {
            display: block;
        }

        &.full {
            img {
                max-width: 100%;
            }
        }

        &.half {
            img {
                max-width: 50%;
            }
        }
    }

    .article-inner {
        margin: 0 auto;
        max-width: 900px;

        &.narrow,
        .narrow {
            max-width: 630px;
            margin: 0 auto;
        }

        &.logos-only {
            img {
                width: auto;
            }
        }

        h1,
        h2 {
            text-transform: uppercase;
        }

        .layout-insight {
            background-color: white;
            padding: $spacing-m $spacing-m $spacing-s $spacing-m;
            margin-top: $spacing-s;
            border-left: 4px solid $color-accent;
            box-shadow: $box-shadow;
            border-radius: $border-radius;

            h4 {
                margin: $spacing-s 0 $spacing-xs 0;
            }

            p,
            ul {
                font-size: 85%;
            }
        }
    }

    #container {
        height: 500px;
    }

    .anychart-credits {
        display: none;
    }
}

@-webkit-keyframes ani-mouse {
    0% {
        top: 29%;
    }

    15% {
        top: 50%;
    }

    50% {
        top: 50%;
    }

    100% {
        top: 29%;
    }
}

@-moz-keyframes ani-mouse {
    0% {
        top: 29%;
    }

    15% {
        top: 50%;
    }

    50% {
        top: 50%;
    }

    100% {
        top: 29%;
    }
}

@keyframes ani-mouse {
    0% {
        top: 29%;
    }

    15% {
        top: 50%;
    }

    50% {
        top: 50%;
    }

    100% {
        top: 29%;
    }
}

.graphs {
    width: 100%;
    display: flex;
    align-items: flex-end;
    .chart1 {
        width: 48%;
    }
    .chart2 {
        width: 52%;
    }
}

blockquote {
    border-left: 4px solid $color-accent;
    font-size: $font-size-body;
    font-weight: 400;
    font-style: italic;
    margin: 0;
    padding: $spacing-xs $spacing-m;
}

.quote-wrap {
    display: flex;
    margin-bottom: $spacing-xs;

    .quote-person {
        width: 40px;
        height: 40px;
        border-radius: $border-radius;
        object-fit: cover;
    }

    blockquote {
        margin-left: $spacing-s;
        background-color: $bkg-article-regular-1;
        border-radius: $border-radius;
        position: relative;
        width: fit-content;
        padding: $spacing-xs $spacing-s;
        font-size: $font-size-overline;

        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 12px solid transparent;
            border-right-color: $color-accent;
            border-left: 0;
            margin-top: -12px;
            margin-left: -12px;
        }
    }
}

.phone {
    width: 50%;
    max-width: 50%;
}

.border {
    border: 2px solid $font-color-body;
    border-radius: $border-radius-image;
}

figure {
    margin: 0;
}

img {
    image-rendering: auto;
}

.atomic-wrap {
    display: flex;
    justify-content: space-between;
    column-gap: $spacing-m;

    figure {
        display: flex;
        flex-direction: column;
        img {
            margin: auto;
        }

        figcaption {
            margin-top: auto;
            padding-top: $spacing-s;
            align-self: center;
        }
    }
}
