.case-study {
    background-color: white;
    box-shadow: $box-shadow;
    display: flex;

    &:not(:last-of-type) {
        margin-bottom: $spacing-m;
    }
    .wrap {
        padding: $spacing-m;

        h4 {
            margin: $spacing-xs 0;
        }

        a {
            text-transform: uppercase;

            text-decoration: none;
        }
    }
}

// ipad and lower
@media screen and (max-width: 1020px) {
    .case-study {
        flex-direction: column;
    }
}
// higher than ipad
@media screen and (min-width: 1021px) {
    .case-study {
        flex-direction: row;
    }
}
