.timeline {
    .layout-insight {
        position: relative;

        &:before {
            content: "";
            height: 16px;
            width: 16px;
            background-color: white;
            border: 4px solid  $color-accent;
            position: absolute;
            left: -14px;
            top: 40px;
            border-radius: 50%;
        }


        p {
            margin: 0;
        }
    }
}
