.timeline,
.process {
    .timeline-section,
    li {
        background-color: $bkg-article-regular-1;
        box-shadow: $box-shadow;
        display: flex;
        flex-direction: row;
        padding: $spacing-s $spacing-s;
        border-radius: $border-radius;
        margin-bottom: $spacing-s;
        align-items: center;

        h4,
        p {
            margin: 0;
            font-family: $font-family-body;
            padding: 0 0 0 $spacing-s;
        }

        h4 {
            flex: 2;
        }

        p {
            flex: 1;
        }

        .chip,
        .count {
            font-family: $font-family-body;
            font-size: $font-size-overline;
            padding: 0.35rem 0.75rem;
            font-weight: 700;

            width: fit-content;
            height: fit-content;

            color: white;
            background: $font-color-body;
            border-radius: $border-radius;
        }

        h4 {
            color: $font-color-body;
            font-weight: 700;
            font-size: $font-size-menu;
        }

        p {
            text-align: right;
            color: $font-color-body-light;
            font-size: $font-size-menu;
        }
    }
}

.process {
    padding: 0;

    li {
        .count {
            align-self: flex-start;
        }
        div {
            h4 {
                margin: 0.2rem 0 $spacing-xs 0;
            }
            p {
                text-align: left;
                font-size: 80%;
                color: $font-color-body;
            }
        }
    }
}
