h1 {
    font-size: $font-size-h1;
    font-family: $font-family-h1;
    color: $font-color-h1;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    margin: $spacing-m 0;
}

h2 {
    font-size: $font-size-h2;
    font-family: $font-family-h2;
    color: $font-color-h2;
}

h3 {
    font-size: $font-size-h3;
    font-family: $font-family-h3;
    color: $font-color-h3;
    margin: $spacing-l 0 $spacing-s 0;
}

h4 {
    font-size: $font-size-h4;
    font-family: $font-family-h4;
    color: $font-color-h4;
    margin-bottom: $spacing-xs;
}

h5 {
    font-size: $font-size-h5;
    font-family: $font-family-h5;
    font-weight: 700;
    color: red;
    margin: $spacing-l 0 $spacing-xs;
}

body {
    font-size: $font-size-body;
    font-family: $font-family-body;
    color: $font-color-body;

    p {
        margin: $spacing-s 0 $spacing-m 0;
    }
}

mark {
    background-color: rgba($color-accent, 0.5);
    padding: 0 2px;
}

p.small {
    font-size: 85%;
}

overline {
    font-size: $font-size-overline;
    text-transform: uppercase;
    font-family: $font-family-h5;
    font-weight: 600;
    color: $font-color-body-light;
}

.strikethrough {
    text-decoration: line-through;
}

a {
    color: $color-accent;
}

figcaption {
    font-size: $font-size-overline;
    font-family: $font-family-h5;
    font-weight: 400;
    color: $font-color-body-light;
}

.redacted:before {
    content: "[REDACTED]";
    background-color: rgba($color-warning, 0.5);
    padding: 0 2px;
    margin-left: 2px;
}

