// COLORS
$bkg-header: #ffffff;
$bkg-body: #ebebeb;

$color-accent: #ffc3b4;

$layout-cols-header: calc((100vw/24) * 5);
$layout-cols-body:  calc((100vw/24) * 15);
$layout-cols-spacer:  calc((100vw/24) * 2);

$bkg-article-feature: #1e1e1e;
$bkg-article-regular: #ffffff;

// TYPOGRAPHY 
$scale: 1.275;
$font-size-body: 1rem;

$font-size-h5: calc(#{$font-size-body} * #{$scale});
$font-size-h4: calc(#{$font-size-h5} * #{$scale});
$font-size-h3: calc(#{$font-size-h4} * #{$scale});
$font-size-h2: calc(#{$font-size-h3} * #{$scale});
$font-size-h1: calc(#{$font-size-h2} * #{$scale});

$font-family-h1: 'SFPortMcKenzie Bold', serif;
$font-family-h2: 'Vollkorn', serif;
$font-family-h3: 'Vollkorn', serif;
$font-family-h4: 'Vollkorn', serif;
$font-family-h5: 'Vollkorn', serif;
$font-family-body: 'Commissioner', sans-serif;

$font-color-h1: #252B33;
$font-color-h2: #252B33;
$font-color-h3: #252B33;
$font-color-h4: #252B33;
$font-color-h5: #252B33;
$font-color-body: #252B33;


// PADDING
$padding-l: 76px;
$padding-m: 36px;
$padding-s: 18px;

$padding-article: $padding-l $padding-m;


@font-face {
    font-family: 'SFPortMcKenzie Bold';
    src: url(../../../fonts/SFPortMcKenzie/SFPortMcKenzie-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'SFPortMcKenzie Outline';
    src: url(../../../fonts/SFPortMcKenzie/SFPortMcKenzieOutline.ttf) format('truetype');
}